<%= form_tag @search_form_path, :method => 'get', :class => "form-search", :style => "float: right;" do %> 
  <div class="input-append">
    <%= text_field_tag :license_name, params[:license_name], :class => "search-query" %>
    <button type="submit" class="btn"><i class="icon-search"></i> <%= t('activerecord.models.license') %></button>
  </div>
<% end %>