<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <br />
      <p>
        <%= image_tag("alice2.png", :alt => "Logo Alice", :class => "img-rounded img-polaroid img-responsive") %>
      </p>
    <br />
  </div>
</div>
<br /><br />
<div class="container">	
<div class="row">
  <div class="col-md-1">
    <%= image_tag("flag_it.png", :alt => "Italiano", :class => "img-rounded") %>
  </div>
  <div class="col-md-10">
  	Alice è un sistema open source per la gestione delle licenze d’uso nei prodotti software.<br />
    Lo sviluppo moderno ad oggetti, basato su componenti riutilizzabili e la sempre più diffusa cultura open source, 
    hanno determinato la consuetudine nei gruppi di sviluppo di selezionare componenti open source adeguati al problema da soddisfare.<br /> 
    Oggi si può ipotizzare che nessun sviluppo parta riscrivendo tutto da zero, senza riutilizzare nulla dell’enorme patrimonio di librerie 
    di componenti messo a disposizione attraverso la rete Internet.<br /> 
    La diffusione di Internet, la scrittura con linguaggi ad oggetti, la cultura open source, sono quindi gli ingredienti che hanno determinato questo fenomeno, 
    generando una caratteristica non prevedibile:
    nel tempo sono nate diverse tipologie di licenze open source con le quali vengono rilasciate le librerie di componenti, 
    spesso non compatibili fra di loro e con il tipo di licenza del prodotto finito che si intende realizzare.<br />
    Alice aiuta a controllare in maniera sistematica la correttezza dei componenti utilizzati.<br />
  </div>
  <div class="col-md-1"></div>
</div>  
</div>

<br /><br /><br />

<div class="container">
<div class="row">
  <div class="col-md-1">
    <%= image_tag("flag_uk.png", :alt => "English", :class => "img-rounded") %>
  </div>
  <div class="col-md-10">
   Alice is an open source system for managing licenses in software products.<br />
   The modern development to objects, based on reusable components and the increasingly popular open-source culture,
   led to the custom development of select groups of open source components adapted to the problem to be met.<br />
   Today it can be assumed that no development starts rewriting everything from scratch, 
   without reusing nothing of the enormous wealth of component libraries made ​​available through the Internet.<br />
   The spread of the Internet, writing with object oriented languages​​, culture open source, so they are the ingredients that have led to this phenomenon, 
   generating a feature not predictable: in time are born different types of open source licenses with which the libraries are released, 
   are often not compatible with each other and with the license type of the finished product that is meant to accomplish.<br />
   Alice helps to control in a systematic way the correctness of the components used.<br />
  </div>
  <div class="col-md-1"></div>
</div>  
</div>
