<br />
<br />
<br />
<br />

<div class="row">

<div class="col-md-offset-1 col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
  	<%= link_to "Alice", about_alice_path, :class => "btn btn-info" %>
  </div>
  <div class="panel-body">
    <%= image_tag("alice2.png", :alt => "Logo Alice", :class => "img-rounded img-thumbnail img-responsive") %>
  </div>
</div>
</div>

<div class="col-md-offset-2 col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
  	<%= link_to "Lombardia Informatica", about_lispa_path, :class => "btn btn-info" %>  	  	
  </div>
  <div class="panel-body">
  	<br /><br /><br />
    <%= image_tag("lispa.png", :alt => "Lombardia Informatica", :class => "img-rounded img-thumbnail img-responsive") %>
    <br /><br /><br /><br /><br />
  </div>
</div>
</div>

</div>  
