<div class="container">	
<div class="row">
  <div class="col-md-12">	
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <%= image_tag("alice2.png", :alt => "Logo Alice", :class => "img-rounded img-thumbnail img-responsive") %>
  </div>
  <div class="col-md-6">
  	<%= link_to "About: Alice", about_alice_path, :class => "btn btn-lg btn-info" %>
  </div>	
  </div>
</div>  

  <br /><br />
<div class="row">
  <div class="col-md-12">	
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <%= image_tag("lispa.png", :alt => "Lombardia Informatica", :class => "img-rounded img-thumbnail img-responsive") %>
  </div>
  <div class="col-md-6">
  	<%= link_to "About: Lombardia Informatica", about_lispa_path, :class => "btn btn-lg btn-info" %>  	
  </div>
  </div>
</div>  
</div>  