<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <br />
      <p>
        <%= image_tag("lispa.png", :alt => "Lombardia Informatica", :class => "img-rounded img-polaroid img-responsive") %>
      </p>
    <br />
  </div>
</div>
<br /><br />
<div class="container">	
<div class="row">
  <div class="col-md-1">
    <%= image_tag("flag_it.png", :alt => "Italiano", :class => "img-rounded") %>
  </div>
  <div class="col-md-10">
Lombardia Informatica è una società di servizi pubblico-sociale che è stata costituita nel dicembre 1981 
su iniziativa del governo regionale della Lombardia (Regione Lombardia).<br /> 
Ha circa 500 dipendenti e un fatturato di circa € 180.000.000,00.<br />
La missione di Lombardia Informatica è quello di innovare i servizi e aumentare la produttività 
del sistema regionale attraverso la tecnologia dell'informazione, al fine di migliorare 
la qualità della vita del cittadino e la competitività delle imprese lombarde.<br />
Come partner IT della Regione Lombardia, Lombardia Informatica progetta e realizza sistemi ICT 
per il governo regionale e rappresenta l'interfaccia unica tra la Regione Lombardia e il mercato.
  </div>
  <div class="col-md-1"></div>
</div>  
</div>

<br /><br /><br />

<div class="container">
<div class="row">
  <div class="col-md-1">
    <%= image_tag("flag_uk.png", :alt => "English", :class => "img-rounded") %>
  </div>
  <div class="col-md-10">
Lombardia Informatica is a public-capital service company which has been constituted in December 1981 
as an initiative of the Regional Government of the Lombardia (Regione Lombardia).<br />
It has around 500 employees and a turnover of about 180.000.000,00 €.<br />
Lombardia Informatica’s mission is to innovate services and increase The Regional System’s productivity through 
Information Technology, in order to improve Citizen’s quality of life and Lombard companies’ competitiveness.<br />
As IT partner of Regione Lombardia, Lombardia Informatica designs and implements ICT Systems for the 
Regional Government and represents the unique interface between Regione Lombardia and the marketplace.
  </div>
  <div class="col-md-1"></div>
</div>  
</div>
