<%= form_tag @search_form_path, :method => 'get', :class => "form-inline", :style => "float: right;" do %>	
  <div class="input-group-sm">
    <%= text_field_tag :product_groupage, params[:product_groupage], :class => "search-query form-control" %>
    <button type="submit" class="btn btn-sm btn-default" name="commit" value="clear">
      <i class="glyphicon glyphicon-search"></i>
       <%= t('activerecord.attributes.product.groupage') %>
    </button>
  </div>
<% end %>