<%= form_tag @search_form_path, :method => 'get', :class => "form-search", :style => "float: right;" do %>	
  <div class="input-append">
    <%= text_field_tag :product_name, params[:product_name], :class => "search-query" %>
    <button type="submit" class="btn" name="commit" value="clear"><i class="icon-search"></i> <%= t('activerecord.models.product') %></button>
  </div>
<% end %>