<%= form_tag @search_form_path, :method => 'get', :class => "form-search", :style => "float: right;" do %>	
  <div class="input-append">
    <%= text_field_tag :product_groupage, params[:product_groupage], :class => "search-query" %>
    <button type="submit" class="btn" name="commit" value="clear">
      <i class="icon-search"></i>
       <%= t('activerecord.attributes.product.groupage') %>
    </button>
  </div>
<% end %>