<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "application" -%>
<%= wicked_pdf_javascript_include_tag "application" %>
<style>
  body {
    background-color:#ffffff;
  }
  .row {
    width: 710px;
  }
  .span5 {
    width: 350px;
    display:inline-block;
  }
  .span11 {
    width: 700px;
    display:inline-block;
  }
  .btn-block {
    width: 690px;
  }
</style>

<body onload="number_pages()">
</br>  
<%= render 'check_result.html' %>
<%= render 'list_components.html' %>
</body>
