<br />
<br />
<br />
<footer class="footer" style="background: #000000; color: #FEFEFE">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h5>Progetto</h5>
        <a href="https://github.com/pachiara/alice" target="_blank">Github</a><br />
        <a href="https://github.com/pachiara/alice/wiki">Wiki</a><br />
        <a href="https://github.com/pachiara/alice/issues">Issues</a><br />
      </div>
      <div class="span3">
        <h5>Informazioni</h5>
  	    Licenza: <a href="https://joinup.ec.europa.eu/software/page/eupl">E.U.P.L.</a><br />
  	    Template: <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap Twitter</a><br />
        Icone: <a href="http://glyphicons.com">Glyphicons Free</a><br />
      </div>
      <div class="span3">
        <h5>Informazioni</h5>
        Framework: <a href="http://rubyonrails.org/">Ruby On Rails</a><br />
        Linguaggio: <a href="http://www.ruby-lang.org/">Ruby</a><br />
        Mantainer: <a href="http://www.lispa.it">Lombardia Informatica spa</a><br />
      </div>
    </div>
    <br />
    <br />
  </div>
</footer>