<footer class="footer"">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h5>Progetto</h5>
        <a href="https://github.com/pachiara/alice" target="_blank">Github</a><br />
        <a href="https://github.com/pachiara/alice/wiki">Wiki</a><br />
        <a href="https://github.com/pachiara/alice/issues">Issues</a><br />
      </div>
      <div class="span4">
        <h5>Informazioni</h5>
  	    <a href="https://joinup.ec.europa.eu/software/page/eupl">E.U.P.L.</a><br />
  	    <a href="http://opensource.org/">Open Source Initiative</a><br />
        <a href="http://www.lispa.it">Lombardia Informatica spa</a><br />  	    
      </div>
      <div class="span4">
        <h5>Sviluppo</h5>
        <a href="http://www.ruby-lang.org/">Ruby</a><br />
        <a href="http://rubyonrails.org/">Ruby On Rails</a><br />
        <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap Twitter</a><br />
        <a href="http://glyphicons.com">Glyphicons Free</a><br />
        <a href="http://simple-form.plataformatec.com.br/">SimpleForm</a><br />
        <a href="https://github.com/Codalytics/ruleby">Ruleby</a><br />
      </div>
    </div>
    <br />
    <br />
  </div>
</footer>